In [15]:
import numpy as np
import pandas as pd
import plotly.offline as py
import plotly.graph_objs as go

In [3]:
df = pd.read_csv("D:\\extrapolate-master\\extrapolate-master\\data_collection\\scrape_aicte_dash\\aicte1.csv")

In [4]:
df.head()

,institution_type,level,program,state,minority,women,faculties,number_of_institutes,intake,enrollment,passed,placed
0,Unaided - Private,UG,ENGINEERING AND TECHNOLOGY,Andhra Pradesh,0,1,4103,37,15630,5581,4737,1781
1,Unaided - Private,UG,ENGINEERING AND TECHNOLOGY,Andhra Pradesh,1,0,4476,12,5430,1979,827,303
2,Unaided - Private,UG,ENGINEERING AND TECHNOLOGY,Andhra Pradesh,1,1,362,2,840,342,153,65
3,Unaided - Private,UG,ENGINEERING AND TECHNOLOGY,Assam,0,0,277,7,2700,1738,821,360
4,Unaided - Private,UG,ENGINEERING AND TECHNOLOGY,Bihar,0,0,559,16,6000,3262,1509,511

In [5]:
levels=df['level'].value_counts()

In [34]:
program_s=df.groupby('level')['program'].value_counts()

In [37]:
program_s['DIPLOMA' , 'ENGINEERING AND TECHNOLOGY']

970

In [55]:
level = ['DIPLOMA','PG','UG']
course = ['ENGINEERING AND TECHNOLOGY','PHARMACY','ARCHITECTURE AND TOWN PLANNING','HOTEL MANAGEMENT AND CATERING','APPLIED ARTS AND CRAFTS','MANAGEMENT']

In [58]:
dic = {}
l=[] 
l1 = []
for j in course:
    for i in level:       
        l.append(program_s[i,j])
    dic[j]= l.copy()
    l.clear()
    
  
dic['MCA']  = [0,465,0]

In [72]:
trace = go.Bar(x=level,y=dic[course[0]],name=course[0])
trace1 = go.Bar(x=level,y=dic[course[1]],name=course[1])
trace2= go.Bar(x=level,y=dic[course[2]],name=course[2])
trace3 = go.Bar(x=level,y=dic[course[3]],name=course[3])
trace4 = go.Bar(x=level,y=dic[course[4]],name=course[4])
trace5 = go.Bar(x=level,y=dic[course[5]],name=course[5])
trace6 = go.Bar(x=level,y=dic['MCA'],name='MCA')

In [73]:
data = [trace,trace1,trace2,trace3,trace4,trace5,trace6]

In [75]:
layout = go.Layout(title='AICTE LEVELS AND COURSES IN INDIA',xaxis = {'title':'Levels and Courses'})

In [77]:
fig = go.Figure(data=data,layout=layout)
py.plot(fig,filename='Aicte levels and courses bar.html')

'Aicte levels and courses bar.html'