In [1]:
import plotly.offline as py2
#import plotly.plotly as py
import plotly.tools as tls
import plotly.graph_objs as graph_objs
import json
import csv
import numpy as np
import geocoder
import pandas as pd
import random
import plotly

In [2]:
with open("D:\\extrapolate-master\\extrapolate-master\\hackathon\\Plots\\maps\\ind_geojson.json") as f:
    ind_geojson = json.load(f)

In [3]:
def getCoordinates(places):
    coordinates = {}
    for place in places:
        coordinates[place] = geocoder.arcgis(place).latlng
        print (coordinates[place])
    return coordinates

In [4]:
def getCityGeometry(city):
    # print ("to find: " + city.lower())
    city_geometry = {}
    city_geometry['type'] = 'FeatureCollection'
    city_geometry['features'] = []
    for feature in ind_geojson['features']:
        for i in range(1,4):
            # print (feature['properties']['NAME_' + str(i)].encode('utf-8').lower())
            if city.lower().strip() == feature['properties']['NAME_' + str(i)].lower().strip():
                city_geometry['features'].append(feature)
                # print ("found")
    return city_geometry

In [5]:
mapbox_access_token = 'pk.eyJ1IjoiZGhydXZrdWNoaGFsIiwiYSI6ImNqMDVnanM5cTBsc3gzMnFyeHp2MGt5aHoifQ.dNvTWnEg5XXmy5bDAZq1Yw'
data1 = pd.read_csv("D:\\extrapolate-master\\extrapolate-master\\hackathon\\Plots\\maps\\aicte1.csv")

In [6]:
data1=data1[data1['state']!='Odisha']
data_lev = pd.get_dummies(data1['level'])
data1 = data1.join(data_lev)

In [7]:
Z = data1[['DIPLOMA','UG','PG', 'state']].groupby('state',as_index=False).sum()

In [8]:
Z['sum']=Z['DIPLOMA']+Z['UG']+Z['PG']

In [9]:
Z['area']=(np.log10(Z['sum']))*15

In [ ]:
places_set = set(Z['state'])
coordinates = getCoordinates(places_set)

[12.472918209000056, 92.78097500000007]
[25.536523212000077, 91.27961097200006]
[11.013651898000035, 78.40849110900007]
[30.703520000000026, 76.78970000000004]
[13.695770000000039, 123.47707000000003]
[23.540958311000054, 78.29739277800007]
[14.707040532000065, 76.17027554000003]
[24.73253047000003, 93.88332984700008]
[11.92993000000007, 79.82470000000006]
[29.19647281300007, 76.34013051600004]
[31.923648944000035, 77.25005022300007]
[27.571231217000047, 88.47595890700006]
[17.80524276600005, 79.01146036000006]
[21.265149459000042, 82.04162083000006]
[22.62313000000006, 73.11254000000008]
[30.15484779700006, 79.20762054800008]
[28.033781598000076, 94.66035843300006]
[26.928615422000064, 80.56355111800008]
[33.654266448000044, 74.84332027700003]
[10.44730971100006, 76.40889146000006]
[26.059340493000036, 94.47204948200005]
[15.754586048000021, 79.95790635800006]
[23.797753313000044, 87.98641622000008]
[19.03681000000006, 73.01582000000008]
[20.280950000000075, 73.04955000000007]
[23.653964538000025, 85.55996037500006]
[28.63409000000007, 77.21693000000005]
[25.151460000000043, 85.48728000000006]
[30.843233072000032, 75.41766741100008]
[15.333330000000046, 74.08333000000005]

In [209]:
coordinates['Orissa']= [20.512568911000074, 84.42206738200008]

In [299]:
coordinates['Goa'] = [15.333330000000046, 74.08333000000005]
coordinates['Daman and Diu']= [20.480440000000000, 72.74000000000007]

In [300]:
text_per_place = {}

for place in places_set:
    text = "Programmes :"
    # print (Z.loc[Z['place'] == place])
    filtered_Z = Z.loc[Z['state'] == place]
    print(filtered_Z)
    for index,row in filtered_Z.iterrows():
        text += "<br>"
        text += "DIPLOMA : "
        text += str(row['DIPLOMA'])
        text += "<br>UG : "
        text += str(row['UG'])
        text += "<br>PG : "
        text += str(row['PG'])
    text_per_place[place] = text

      state  DIPLOMA   UG   PG  sum  area
12  Haryana       97  105  117   63  27.0
     state  DIPLOMA  UG  PG  sum       area
28  Sikkim        7   8  14   29  21.921875
           state  DIPLOMA  UG  PG  sum       area
8  Daman and Diu        7   0   0    7  12.679688
             state  DIPLOMA  UG   PG  sum       area
1  Andhra Pradesh       107  93  145   89  29.234375
   state  DIPLOMA  UG  PG  sum     area
9  Delhi       65  74  79  218  35.0625
                state  DIPLOMA  UG  PG  sum     area
14  Jammu and Kashmir       55  44  49  148  32.5625
        state  DIPLOMA  UG   PG  sum       area
27  Rajasthan       93  76  105   18  18.828125
         state  DIPLOMA  UG  PG  sum       area
25  Puducherry       25  42  53  120  31.203125
        state  DIPLOMA  UG  PG  sum       area
21  Meghalaya       18  20  16   54  25.984375
                    state  DIPLOMA  UG  PG  sum       area
7  Dadra and Nagar Haveli        7   5   9   21  19.828125
   state  DIPLOMA  UG  PG  sum    area
10   Goa       22  49  31  102  30.125
            state  DIPLOMA  UG   PG  sum       area
32  Uttar Pradesh      134  98  134  110  30.609375
          state  DIPLOMA  UG   PG  sum     area
34  West Bengal       60  78  101  239  35.6875
        state  DIPLOMA  UG  PG  sum      area
15  Jharkhand       51  48  62  161  33.09375
        state  DIPLOMA  UG  PG  sum       area
30  Telangana        2  13  13   28  21.703125
      state  DIPLOMA  UG  PG  sum       area
31  Tripura       14  13   2   29  21.921875
        state  DIPLOMA   UG   PG  sum       area
16  Karnataka      135  113  137  129  31.671875
         state  DIPLOMA   UG   PG  sum       area
29  Tamil Nadu       92  101  173  110  30.609375
      state  DIPLOMA  UG  PG  sum     area
22  Mizoram        6   5   5   16  18.0625
                         state  DIPLOMA  UG  PG  sum       area
0  Andaman and Nicobar Islands        7  10   0   17  18.453125
          state  DIPLOMA  UG  PG  sum      area
6  Chhattisgarh       51  54  67  172  33.53125
      state  DIPLOMA  UG   PG  sum       area
11  Gujarat       75  95  103   17  18.453125
          state  DIPLOMA   UG   PG  sum     area
19  Maharashtra      141  165  185  235  35.5625
     state  DIPLOMA  UG  PG  sum      area
24  Orissa       40  41  61  142  32.28125
     state  DIPLOMA   UG   PG  sum    area
26  Punjab       85  101  121   51  25.625
     state  DIPLOMA   UG   PG  sum      area
17  Kerala       60  143  148   95  29.65625
             state  DIPLOMA  UG   PG  sum       area
18  Madhya Pradesh       69  85  113   11  15.617188
               state  DIPLOMA  UG  PG  sum  area
13  Himachal Pradesh       52  44  40  136  32.0
          state  DIPLOMA  UG  PG  sum     area
33  Uttarakhand       83  84  87  254  36.0625
                state  DIPLOMA  UG  PG  sum      area
2  Arunachal Pradesh        20   8   6   34  22.96875
   state  DIPLOMA  UG  PG  sum      area
3  Assam       21  43  52  116  30.96875
      state  DIPLOMA  UG  PG  sum       area
20  Manipur        7  10   0   17  18.453125
       state  DIPLOMA  UG  PG  sum       area
23  Nagaland        1   3   2    6  11.671875
   state  DIPLOMA  UG  PG  sum      area
4  Bihar       55  52  60  167  33.34375
        state  DIPLOMA  UG  PG  sum      area
5  Chandigarh       37  24  26   87  29.09375

In [301]:
total = 0.0
city_opacity = {}
# coordinates = {}
city_count = {}
max_opacity = -1

for index in Z.index.values:
    city_count[Z['state'][index]] = Z['DIPLOMA'][index] + Z['UG'][index] + Z['PG'][index]
    total += city_count[Z['state'][index]]

print (city_count)

{'Andaman and Nicobar Islands': 17, 'Andhra Pradesh ': 89, 'Arunachal Pradesh ': 34, 'Assam': 116, 'Bihar': 167, 'Chandigarh': 87, 'Chhattisgarh': 172, 'Dadra and Nagar Haveli': 21, 'Daman and Diu': 7, 'Delhi': 218, 'Goa': 102, 'Gujarat': 17, 'Haryana': 63, 'Himachal Pradesh': 136, 'Jammu and Kashmir': 148, 'Jharkhand': 161, 'Karnataka': 129, 'Kerala': 95, 'Madhya Pradesh': 11, 'Maharashtra': 235, 'Manipur': 17, 'Meghalaya': 54, 'Mizoram': 16, 'Nagaland': 6, 'Orissa': 142, 'Puducherry': 120, 'Punjab': 51, 'Rajasthan': 18, 'Sikkim': 29, 'Tamil Nadu': 110, 'Telangana': 28, 'Tripura': 29, 'Uttar Pradesh': 110, 'Uttarakhand': 254, 'West Bengal': 239}

<ipython-input-301-4e37531a964a>:8: RuntimeWarning:

overflow encountered in ubyte_scalars

In [302]:
for city in city_count:
    city_opacity[city] = float(city_count[city]/total)
    if city_opacity[city] > max_opacity:
        max_opacity = city_opacity[city]

print ("max" + str(max_opacity))
for city in city_opacity:
    # city_opacity[city] += (0.80 - max_opacity)
    city_opacity[city] *= 10
    print (city  + ": "+ str(city_opacity[city]))


top_cities = []
i = 0
sorted_opacity_keys = sorted(city_opacity, key = city_opacity.get, reverse=True)

max0.07820197044334976
Andaman and Nicobar Islands: 0.05233990147783251
Andhra Pradesh : 0.27401477832512317
Arunachal Pradesh : 0.10467980295566502
Assam: 0.3571428571428571
Bihar: 0.5141625615763546
Chandigarh: 0.26785714285714285
Chhattisgarh: 0.5295566502463054
Dadra and Nagar Haveli: 0.06465517241379311
Daman and Diu: 0.021551724137931036
Delhi: 0.6711822660098522
Goa: 0.3140394088669951
Gujarat: 0.05233990147783251
Haryana: 0.1939655172413793
Himachal Pradesh: 0.4187192118226601
Jammu and Kashmir: 0.45566502463054187
Jharkhand: 0.4956896551724138
Karnataka: 0.3971674876847291
Kerala: 0.29248768472906406
Madhya Pradesh: 0.033866995073891626
Maharashtra: 0.7235221674876847
Manipur: 0.05233990147783251
Meghalaya: 0.16625615763546797
Mizoram: 0.04926108374384237
Nagaland: 0.018472906403940885
Orissa: 0.437192118226601
Puducherry: 0.3694581280788178
Punjab: 0.15701970443349755
Rajasthan: 0.05541871921182266
Sikkim: 0.08928571428571427
Tamil Nadu: 0.33866995073891626
Telangana: 0.08620689655172414
Tripura: 0.08928571428571427
Uttar Pradesh: 0.33866995073891626
Uttarakhand: 0.7820197044334976
West Bengal: 0.7358374384236454

In [303]:
for city in sorted_opacity_keys:
    # print str(city_opacity[city])
    top_cities.append([city, str(city_count[city])])
data_text = []
data_lon = []
data_lat = []
layout_layers = []

In [304]:
#coordinates['Kerala']=[10.850516,76.271080]

In [305]:
#coordinates['Madhya Pradesh']=[23.473324,23.473324]

In [306]:
for city in city_count:
    #data
    data_text.append(city.title() + "<br>" + text_per_place[city])
    data_lon.append(coordinates[city][1])
    data_lat.append(coordinates[city][0])

In [307]:
layout_layers.append(
        dict(
            sourcetype = 'geojson',
            source = getCityGeometry(city),
            type = 'fill',
            # color = 'rgba(255,0,0,' + str(city_opacity[city]) + ')'
            color = '#ef5350',
            opacity = city_opacity[city]
        )
    )

In [308]:
data = graph_objs.Data([
    graph_objs.Scattermapbox(
        lat = data_lat,
        lon = data_lon,
        mode = 'markers',
        text = data_text,
        marker = dict(
            size = Z['area'],
            # symbol = "cross",
            color = "#007577",
        )
    )
])

C:\ProgramData\Anaconda3\lib\site-packages\plotly\graph_objs\_deprecations.py:31: DeprecationWarning:

plotly.graph_objs.Data is deprecated.
Please replace it with a list or tuple of instances of the following types
  - plotly.graph_objs.Scatter
  - plotly.graph_objs.Bar
  - plotly.graph_objs.Area
  - plotly.graph_objs.Histogram
  - etc.

In [309]:
layout = graph_objs.Layout(
    title = "AICTE courses in different states",
    height=600,
    width=500,
    autosize=True,
    hovermode='closest',
    mapbox=dict(
        #layers = layout_layers,
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=20.553826,
            lon=80.878458
        ),
        zoom=3.2,
        style='streets'
    ),
    titlefont = dict(
        size = 27,
        color = "#000000"
    ),
    font = dict(
        size = 18,
        family = 'Roboto'
    )

)

In [310]:
fig = dict(data=data, layout=layout)
py2.plot(fig,filename = 'institutes_in_states.html')

'institutes_in_states.html'

In [311]:
coordinates

{'Haryana': [29.19647281300007, 76.34013051600004],
 'Sikkim': [27.571231217000047, 88.47595890700006],
 'Daman and Diu': [20.48044, 72.74000000000007],
 'Andhra Pradesh ': [15.754586048000021, 79.95790635800006],
 'Delhi': [28.63409000000007, 77.21693000000005],
 'Jammu and Kashmir': [33.654266448000044, 74.84332027700003],
 'Rajasthan': [26.58561055200005, 73.84793948000004],
 'Puducherry': [11.92993000000007, 79.82470000000006],
 'Meghalaya': [25.536523212000077, 91.27961097200006],
 'Dadra and Nagar Haveli': [20.280950000000075, 73.04955000000007],
 'Goa': [15.333330000000046, 74.08333000000005],
 'Uttar Pradesh': [26.928615422000064, 80.56355111800008],
 'West Bengal': [23.797753313000044, 87.98641622000008],
 'Jharkhand': [23.653964538000025, 85.55996037500006],
 'Telangana': [17.80524276600005, 79.01146036000006],
 'Tripura': [23.746521948000066, 91.74011045000003],
 'Karnataka': [14.707040532000065, 76.17027554000003],
 'Tamil Nadu': [11.013651898000035, 78.40849110900007],
 'Mizoram': [23.307804384000065, 92.82891652400008],
 'Andaman and Nicobar Islands': [12.472918209000056, 92.78097500000007],
 'Chhattisgarh': [21.265149459000042, 82.04162083000006],
 'Gujarat': [22.695068349000053, 71.57715673100006],
 'Maharashtra': [19.03681000000006, 73.01582000000008],
 'Orissa': [20.512568911000074, 84.42206738200008],
 'Punjab': [30.843233072000032, 75.41766741100008],
 'Kerala': [10.44730971100006, 76.40889146000006],
 'Madhya Pradesh': [23.540958311000054, 78.29739277800007],
 'Himachal Pradesh': [31.923648944000035, 77.25005022300007],
 'Uttarakhand': [30.15484779700006, 79.20762054800008],
 'Arunachal Pradesh ': [28.033781598000076, 94.66035843300006],
 'Assam': [26.326138009000033, 92.83007836700006],
 'Manipur': [24.73253047000003, 93.88332984700008],
 'Nagaland': [26.059340493000036, 94.47204948200005],
 'Bihar': [25.151460000000043, 85.48728000000006],
 'Chandigarh': [30.703520000000026, 76.78970000000004]}

In [145]:
Z

                          state  DIPLOMA   UG   PG  sum       area
0   Andaman and Nicobar Islands        7   10    0   17  18.453125
1               Andhra Pradesh       107   93  145   89  29.234375
2            Arunachal Pradesh        20    8    6   34  22.968750
3                         Assam       21   43   52  116  30.968750
4                         Bihar       55   52   60  167  33.343750
5                    Chandigarh       37   24   26   87  29.093750
6                  Chhattisgarh       51   54   67  172  33.531250
7        Dadra and Nagar Haveli        7    5    9   21  19.828125
8                 Daman and Diu        7    0    0    7  12.679688
9                         Delhi       65   74   79  218  35.062500
10                          Goa       22   49   31  102  30.125000
11                      Gujarat       75   95  103   17  18.453125
12                      Haryana       97  105  117   63  27.000000
13             Himachal Pradesh       52   44   40  136  32.000000
14            Jammu and Kashmir       55   44   49  148  32.562500
15                    Jharkhand       51   48   62  161  33.093750
16                    Karnataka      135  113  137  129  31.671875
17                       Kerala       60  143  148   95  29.656250
18               Madhya Pradesh       69   85  113   11  15.617188
19                  Maharashtra      141  165  185  235  35.562500
20                      Manipur        7   10    0   17  18.453125
21                    Meghalaya       18   20   16   54  25.984375
22                      Mizoram        6    5    5   16  18.062500
23                     Nagaland        1    3    2    6  11.671875
24                       Orissa       40   41   61  142  32.281250
25                   Puducherry       25   42   53  120  31.203125
26                       Punjab       85  101  121   51  25.625000
27                    Rajasthan       93   76  105   18  18.828125
28                       Sikkim        7    8   14   29  21.921875
29                   Tamil Nadu       92  101  173  110  30.609375
30                    Telangana        2   13   13   28  21.703125
31                      Tripura       14   13    2   29  21.921875
32                Uttar Pradesh      134   98  134  110  30.609375
33                  Uttarakhand       83   84   87  254  36.062500
34                  West Bengal       60   78  101  239  35.687500

In [174]:
data1

,institution_type,level,program,state,minority,women,faculties,number_of_institutes,intake,enrollment,passed,placed
0,Unaided - Private,UG,ENGINEERING AND TECHNOLOGY,Andhra Pradesh,0,1,4103.0,37,15630,5581,4737,1781
1,Unaided - Private,UG,ENGINEERING AND TECHNOLOGY,Andhra Pradesh,1,0,4476.0,12,5430,1979,827,303
2,Unaided - Private,UG,ENGINEERING AND TECHNOLOGY,Andhra Pradesh,1,1,362.0,2,840,342,153,65
3,Unaided - Private,UG,ENGINEERING AND TECHNOLOGY,Assam,0,0,277.0,7,2700,1738,821,360
4,Unaided - Private,UG,ENGINEERING AND TECHNOLOGY,Bihar,0,0,559.0,16,6000,3262,1509,511
...,...,...,...,...,...,...,...,...,...,...,...,...
6072,Govt aided,DIPLOMA,PHARMACY,Gujarat,0,0,27.0,6,430,301,71,18
6073,Govt aided,DIPLOMA,PHARMACY,Maharashtra,1,0,21.0,3,240,248,159,38
6074,Govt aided,DIPLOMA,PHARMACY,Maharashtra,0,0,132.0,21,1300,1230,708,228
6075,Govt aided,DIPLOMA,PHARMACY,Punjab,1,0,6.0,1,60,60,41,14
6076,Govt aided,DIPLOMA,PHARMACY,Punjab,0,0,6.0,1,60,60,41,14

In [162]:
l=['institution_type','level','program','state','minority','women','faculties','number_of_institutes','intake','enrollment','passed','placed']