In [2]:
import pandas as pd
import numpy as np
import plotly.offline as py
import plotly.graph_objs as go

In [3]:
df = pd.read_excel('literacyrate census.xlsx')

In [9]:
df.sort_values()
df.head()

   #        State  Literacy   Male  Female  % Change
1  1       Kerala     94.00  96.11   92.07      3.14
2  2  Lakshadweep     91.85  95.56   87.95      5.19
3  3      Mizoram     91.33  93.35   89.27      2.53
4  4          Goa     88.70  92.65   84.66      6.69
5  5      Tripura     87.22  91.53   82.73     14.03

In [5]:
x = df.iloc[0,:]

In [8]:
df.drop(0,axis=0,inplace=True)

In [17]:
trace1 = go.Bar(x=df['State'],y=df['Male'],width=0.5,name='Male')
trace2 = go.Bar(x=df['State'],y=df['Female'],width=0.5,name='Female')
data =[trace1,trace2]
layout = go.Layout(xaxis = {'title':'state'},yaxis={'title':'Literacy'},title='Literacy Rate and states',barmode='overlay')
fig = go.Figure(data=data,layout=layout)
py.plot(fig,filename='Literacy rate based on gender')

'Literacy rate based on gender.html'