In [1]:
import pandas as pd
import numpy as np
import plotly.offline as py
import plotly.graph_objs as go

In [2]:
df=pd.read_excel("D:\\extrapolate-master\\extrapolate-master\\hackathon\\datasettr.xlsx")

In [3]:
df.head()

,Unnamed: 0,ID,Salary,DOJ,DOL,Designation,JobCity,Gender,DOB,10percentage,...,ComputerScience,MechanicalEngg,ElectricalEngg,TelecomEngg,CivilEngg,conscientiousness,agreeableness,extraversion,nueroticism,openess_to_experience
0,train,203097,420000,2012-06-01,present,senior quality engineer,Bangalore,f,1990-02-19,84.3,...,-1,-1,-1,-1,-1,0.9737,0.8128,0.5269,1.35490,-0.4455
1,train,579905,500000,2013-09-01,present,assistant manager,Indore,m,1989-10-04,85.4,...,-1,-1,-1,-1,-1,-0.7335,0.3789,1.2396,-0.10760,0.8637
2,train,810601,325000,2014-06-01,present,systems engineer,Chennai,f,1992-08-03,85.0,...,-1,-1,-1,-1,-1,0.2718,1.7109,0.1637,-0.86820,0.6721
3,train,267447,1100000,2011-07-01,present,senior software engineer,Gurgaon,m,1989-12-05,85.6,...,-1,-1,-1,-1,-1,0.0464,0.3448,-0.3440,-0.40780,-0.9194
4,train,343523,200000,2014-03-01,2015-03-01 00:00:00,get,Manesar,m,1991-02-27,78.0,...,-1,-1,-1,-1,-1,-0.8810,-0.2793,-1.0697,0.09163,-0.1295

In [5]:
df.reset_index(inplace=True)

In [32]:
d=pd.DataFrame(df['JobCity'].value_counts().head(10))

In [34]:
d.reset_index(inplace=True)

In [35]:
d.drop(1,axis=0,inplace=True)

In [36]:
d.reset_index(inplace=True)

In [44]:
cities=d['index'].tolist()

In [45]:
count=d['JobCity'].tolist()

In [46]:
print(cities,count)

['Bangalore', 'Noida', 'Hyderabad', 'Pune', 'Chennai', 'Gurgaon', 'New Delhi', 'Mumbai', 'Kolkata'] [627, 368, 335, 290, 272, 198, 196, 108, 98]

In [50]:
trace=go.Pie(labels=cities,values=count)
data=[trace]
layout= go.Layout(title="maximum job offering cities")
fig = go.Figure(data=data,layout=layout)

In [53]:
plt=py.plot(fig,filename='maximum_job_offering_cities',output_type='div')