In [1]:
import plotly.offline as py2
import plotly.tools as tls
import plotly.graph_objs as graph_objs
import json
import csv
import numpy as np
import geocoder
import pandas as pd
import random
import plotly

In [2]:
with open("D:\\extrapolate-master\\extrapolate-master\\hackathon\\Plots\\maps\\ind_geojson.json") as f:
    ind_geojson = json.load(f)

In [3]:
mapbox_access_token = 'pk.eyJ1IjoiZGhydXZrdWNoaGFsIiwiYSI6ImNqMDVnanM5cTBsc3gzMnFyeHp2MGt5aHoifQ.dNvTWnEg5XXmy5bDAZq1Yw'
data1 = pd.read_csv("D:\\extrapolate-master\\extrapolate-master\\hackathon\\Plots\\maps\\aicte1.csv")

In [4]:
def getCoordinates(places):
    coordinates = {}
    for place in places:
        coordinates[place] = geocoder.arcgis(place).latlng
        print (coordinates[place])
    return coordinates

In [5]:
def getCityGeometry(city):
    # print ("to find: " + city.lower())
    city_geometry = {}
    city_geometry['type'] = 'FeatureCollection'
    city_geometry['features'] = []
    for feature in ind_geojson['features']:
        for i in range(1,4):
            # print (feature['properties']['NAME_' + str(i)].encode('utf-8').lower())
            if city.lower().strip() == feature['properties']['NAME_' + str(i)].lower().strip():
                city_geometry['features'].append(feature)
                # print ("found")
    return city_geometry

In [6]:
data1=data1[data1['state']!='Odisha']
data_lev = pd.get_dummies(data1['level'])
data1 = data1.join(data_lev)

In [7]:
df = data1[['intake','enrollment','passed', 'placed','state','level']].groupby(['state','level'],as_index=False).sum()

In [8]:
df.shape

(101, 6)

In [9]:
df['placed percent']=(df['placed']/df['enrollment'])*100

In [12]:
df[df['placed percent'].isnull()==True]

Empty DataFrame
Columns: [state, level, intake, enrollment, passed, placed, placed percent]
Index: []

In [11]:
df.iloc[6:8,6]=0

In [13]:
dic1 = {'state':'Andaman and Nicobar Islands', 'level':'PG', 'intake':0, 'enrollment':0, 'passed':0, 'placed':0,'placed percent':0}
dic2 = {'state':'Manipur', 'level':'PG', 'intake':0, 'enrollment':0, 'passed':0, 'placed':0,'placed percent':0}
dic3 = {'state':'Daman and Diu', 'level':'UG', 'intake':0, 'enrollment':0, 'passed':0, 'placed':0,'placed percent':0}
dic4 = {'state':'Daman and Diu', 'level':'PG', 'intake':0, 'enrollment':0, 'passed':0, 'placed':0,'placed percent':0}

In [14]:
df=df.append(dic1,ignore_index=True)
df=df.append(dic2,ignore_index=True)
df=df.append(dic3,ignore_index=True)
df=df.append(dic4,ignore_index=True)

In [15]:
data1.head()

,institution_type,level,program,state,minority,women,faculties,number_of_institutes,intake,enrollment,passed,placed,DIPLOMA,PG,UG
0,Unaided - Private,UG,ENGINEERING AND TECHNOLOGY,Andhra Pradesh,0,1,4103.0,37,15630,5581,4737,1781,0,0,1
1,Unaided - Private,UG,ENGINEERING AND TECHNOLOGY,Andhra Pradesh,1,0,4476.0,12,5430,1979,827,303,0,0,1
2,Unaided - Private,UG,ENGINEERING AND TECHNOLOGY,Andhra Pradesh,1,1,362.0,2,840,342,153,65,0,0,1
3,Unaided - Private,UG,ENGINEERING AND TECHNOLOGY,Assam,0,0,277.0,7,2700,1738,821,360,0,0,1
4,Unaided - Private,UG,ENGINEERING AND TECHNOLOGY,Bihar,0,0,559.0,16,6000,3262,1509,511,0,0,1

In [16]:
df['state'].value_counts()

Manipur                        3
Tamil Nadu                     3
Maharashtra                    3
Uttar Pradesh                  3
Sikkim                         3
Karnataka                      3
Nagaland                       3
Orissa                         3
Jharkhand                      3
Punjab                         3
Dadra and Nagar Haveli         3
Gujarat                        3
Madhya Pradesh                 3
Daman and Diu                  3
Arunachal Pradesh              3
Chandigarh                     3
Tripura                        3
West Bengal                    3
Goa                            3
Meghalaya                      3
Bihar                          3
Puducherry                     3
Andhra Pradesh                 3
Jammu and Kashmir              3
Assam                          3
Telangana                      3
Kerala                         3
Andaman and Nicobar Islands    3
Chhattisgarh                   3
Uttarakhand                    3
Delhi                          3
Haryana                        3
Rajasthan                      3
Himachal Pradesh               3
Mizoram                        3
Name: state, dtype: int64

In [17]:
places_set = set(df['state'])
coordinates = getCoordinates(places_set)

[24.73253047000003, 93.88332984700008]
[13.695770000000039, 123.47707000000003]
[25.151460000000043, 85.48728000000006]
[11.92993000000007, 79.82470000000006]
[15.754586048000021, 79.95790635800006]
[33.654266448000044, 74.84332027700003]
[26.326138009000033, 92.83007836700006]
[17.80524276600005, 79.01146036000006]
[26.58561055200005, 73.84793948000004]
[28.63409000000007, 77.21693000000005]
[19.03681000000006, 73.01582000000008]
[26.928615422000064, 80.56355111800008]
[10.44730971100006, 76.40889146000006]
[26.059340493000036, 94.47204948200005]
[22.62313000000006, 73.11254000000008]
[27.571231217000047, 88.47595890700006]
[23.653964538000025, 85.55996037500006]
[21.265149459000042, 82.04162083000006]
[22.695068349000053, 71.57715673100006]
[15.333330000000046, 74.08333000000005]
[30.703520000000026, 76.78970000000004]
[29.19647281300007, 76.34013051600004]
[25.536523212000077, 91.27961097200006]
[31.923648944000035, 77.25005022300007]
[12.472918209000056, 92.78097500000007]
[30.843233072000032, 75.41766741100008]
[30.15484779700006, 79.20762054800008]
[14.707040532000065, 76.17027554000003]
[23.746521948000066, 91.74011045000003]
[11.013651898000035, 78.40849110900007]
[20.280950000000075, 73.04955000000007]
[23.540958311000054, 78.29739277800007]
[28.033781598000076, 94.66035843300006]
[23.797753313000044, 87.98641622000008]
[23.307804384000065, 92.82891652400008]

In [18]:
coordinates['Orissa']= [20.512568911000074, 84.42206738200008]
coordinates['Goa'] = [15.333330000000046, 74.08333000000005]
coordinates['Daman and Diu']= [20.480440000000000, 72.74000000000007]

In [19]:
text_per_place = {}

for place in places_set:
    text = "Programmes :"
    filtered_df = df.loc[df['state'] == place]
    print(filtered_df)
    for index,row in filtered_df.iterrows():
        text +='<br>'
        text += row['level'].title() + " : "
        text += str(round(float(row['placed percent']),2)) + "%"
        
    text_per_place[place] = text

       state    level  intake  enrollment  passed  placed  placed percent
57   Manipur  DIPLOMA    2590        1428     371     357            25.0
58   Manipur       UG    1150        1150       0       0             0.0
102  Manipur       PG       0           0       0       0             0.0
   state    level  intake  enrollment  passed  placed  placed percent
27   Goa  DIPLOMA   20125       18996   16916   13989       73.641819
28   Goa       PG    3255        2653    2302    1526       57.519789
29   Goa       UG   17030       16818   15513    7529       44.767511
    state    level  intake  enrollment  passed  placed  placed percent
11  Bihar  DIPLOMA  133670       75729   20698    6710        8.860542
12  Bihar       PG   14128        8046    5149    2737       34.016903
13  Bihar       UG  125690       66317   30797    7440       11.218843
         state    level  intake  enrollment  passed  placed  placed percent
71  Puducherry  DIPLOMA   22690       17276    7182   10521       60.899514
72  Puducherry       PG   16798       10210    8519    3155       30.901077
73  Puducherry       UG  118530       64684   46454   38622       59.708738
             state    level  intake  enrollment  passed  placed  \
2  Andhra Pradesh   DIPLOMA  658582      416634  169447   42950
3  Andhra Pradesh        PG  643796      367227  219970   71033
4  Andhra Pradesh        UG  377690      166535  106918   50533

   placed percent
2       10.308808
3       19.343077
4       30.343772
                state    level  intake  enrollment  passed  placed  \
39  Jammu and Kashmir  DIPLOMA   47470       28423   11593    4420
40  Jammu and Kashmir       PG    7740        4022    3388    1335
41  Jammu and Kashmir       UG   37545       29595   20140    7797

    placed percent
39       15.550786
40       33.192442
41       26.345666
    state    level  intake  enrollment  passed  placed  placed percent
8   Assam  DIPLOMA   17548       14104    7371    3654       25.907544
9   Assam       PG   10308        4941    3932    2071       41.914592
10  Assam       UG   52510       31543   17410    7043       22.328250
        state    level  intake  enrollment  passed  placed  placed percent
86  Telangana  DIPLOMA     240         225     122      59       26.222222
87  Telangana       PG   65603       35971   20808    6971       19.379500
88  Telangana       UG   67035       30210   21430    8190       27.110228
        state    level  intake  enrollment  passed  placed  placed percent
77  Rajasthan  DIPLOMA  465102      241440   89944   38745       16.047465
78  Rajasthan       PG  120002       44339   29860   15872       35.796928
79  Rajasthan       UG  710930      365529  232517  120208       32.886036
    state    level  intake  enrollment  passed  placed  placed percent
24  Delhi  DIPLOMA   44655       44038   23817   15795       35.866751
25  Delhi       PG   65903       36922   27900   20514       55.560371
26  Delhi       UG  111327       87791   52210   41470       47.237188
          state    level   intake  enrollment  passed  placed  placed percent
54  Maharashtra  DIPLOMA  1487568      942834  516590   75814        8.041076
55  Maharashtra       PG   650028      421862  286556  146805       34.799295
56  Maharashtra       UG  1652276     1131331  912938  347714       30.734948
            state    level   intake  enrollment  passed  placed  \
92  Uttar Pradesh  DIPLOMA  1058846      709674  262253  125381
93  Uttar Pradesh       PG   458958      253288  151177   92029
94  Uttar Pradesh       UG   210382      113534   73600   37664

    placed percent
92       17.667408
93       36.333739
94       33.174203
     state    level  intake  enrollment  passed  placed  placed percent
48  Kerala  DIPLOMA  204220      171944   68761   29569       17.196878
49  Kerala       PG  195019      111678   71166   45353       40.610505
50  Kerala       UG  912857      606056  290963  151003       24.915684
       state    level  intake  enrollment  passed  placed  placed percent
65  Nagaland  DIPLOMA     180          60      19      19       31.666667
66  Nagaland       PG     120          60      54      20       33.333333
67  Nagaland       UG     720         258     120      51       19.767442
     state    level  intake  enrollment  passed  placed  placed percent
68  Orissa  DIPLOMA  227240      129434  119946   47622       36.792497
69  Orissa       PG   68256       23221   21330   12220       52.624779
70  Orissa       UG  367818      185635  186055  102066       54.982089
     state    level  intake  enrollment  passed  placed  placed percent
80  Sikkim  DIPLOMA    2955        2493    1846     658       26.393903
81  Sikkim       PG     927         556     312     129       23.201439
82  Sikkim       UG    2850        2115    1641    1235       58.392435
        state    level  intake  enrollment  passed  placed  placed percent
42  Jharkhand  DIPLOMA   80140       61025   25424    9249       15.156084
43  Jharkhand       PG   18498       11705    6438    3959       33.823152
44  Jharkhand       UG   75590       55187   31144   12915       23.402251
           state    level  intake  enrollment  passed  placed  placed percent
17  Chhattisgarh  DIPLOMA   95600       55242   15063    6571       11.894935
18  Chhattisgarh       PG   37187       12937    9572    3338       25.801963
19  Chhattisgarh       UG  317430      152044  111313   45065       29.639446
      state    level  intake  enrollment  passed  placed  placed percent
30  Gujarat  DIPLOMA  537944      382784  130263   33491        8.749321
31  Gujarat       PG  187226       96780   68791   34490       35.637528
32  Gujarat       UG  788644      579613  368213   99429       17.154377
             state    level  intake  enrollment  passed  placed  \
23   Daman and Diu  DIPLOMA    2520        2520    1610     553
103  Daman and Diu       UG       0           0       0       0
104  Daman and Diu       PG       0           0       0       0

     placed percent
23        21.944444
103        0.000000
104        0.000000
         state    level  intake  enrollment  passed  placed  placed percent
14  Chandigarh  DIPLOMA    7479        6627    4781    2948       44.484684
15  Chandigarh       PG    5333        3141    2293    2103       66.953200
16  Chandigarh       UG    5612        5209    3978    2098       40.276445
      state    level  intake  enrollment  passed  placed  placed percent
33  Haryana  DIPLOMA  584221      265030   94911   58690       22.144663
34  Haryana       PG  192506       81133   55957   31749       39.132042
35  Haryana       UG  821575      348118  227002  134599       38.664763
        state    level  intake  enrollment  passed  placed  placed percent
59  Meghalaya  DIPLOMA    2570        2220    1183     187        8.423423
60  Meghalaya       PG    1200         552     488     264       47.826087
61  Meghalaya       UG    9600        5680    3240    1840       32.394366
               state    level  intake  enrollment  passed  placed  \
36  Himachal Pradesh  DIPLOMA   91486       34362   15440    6018
37  Himachal Pradesh       PG   18594        4765    1890    1179
38  Himachal Pradesh       UG  126740       41055   29897   12393

    placed percent
36       17.513532
37       24.742917
38       30.186335
                           state    level  intake  enrollment  passed  placed  \
0    Andaman and Nicobar Islands  DIPLOMA    1890        2128     651     658
1    Andaman and Nicobar Islands       UG     900         980     800     940
101  Andaman and Nicobar Islands       PG       0           0       0       0

     placed percent
0         30.921053
1         95.918367
101        0.000000
     state    level  intake  enrollment  passed  placed  placed percent
74  Punjab  DIPLOMA  491251      280983  175316   45667       16.252585
75  Punjab       PG  126792       65714   44611   20973       31.915574
76  Punjab       UG  545005      254469  235150  103211       40.559361
          state    level  intake  enrollment  passed  placed  placed percent
95  Uttarakhand  DIPLOMA  146801       77227   43592   20409       26.427286
96  Uttarakhand       PG   55916       23155   16853    8575       37.033038
97  Uttarakhand       UG  180004       78393   63705   31046       39.603026
        state    level   intake  enrollment  passed  placed  placed percent
45  Karnataka  DIPLOMA   812083      568214  203747   71681       12.615141
46  Karnataka       PG   316900      189823  141590   59280       31.229092
47  Karnataka       UG  1119492      878118  593988  302661       34.467008
      state    level  intake  enrollment  passed  placed  placed percent
89  Tripura  DIPLOMA    8050        6496    3290     350        5.387931
90  Tripura       PG     120          64       0       0        0.000000
91  Tripura       UG    3360        2424    2053      99        4.084158
         state    level   intake  enrollment  passed  placed  placed percent
83  Tamil Nadu  DIPLOMA  1642591     1029407  681821  507356       49.286240
84  Tamil Nadu       PG   711417      409144  310124  129527       31.658047
85  Tamil Nadu       UG   891870      575029  448252  284343       49.448463
                     state    level  intake  enrollment  passed  placed  \
20  Dadra and Nagar Haveli  DIPLOMA    2310        2247     924      63
21  Dadra and Nagar Haveli       PG     810         385     373     288
22  Dadra and Nagar Haveli       UG     300         320     290      70

    placed percent
20        2.803738
21       74.805195
22       21.875000
             state    level  intake  enrollment  passed  placed  \
51  Madhya Pradesh  DIPLOMA  276526      208381   71924   26797
52  Madhya Pradesh       PG  271840      183202   93493   48647
53  Madhya Pradesh       UG  920332      578276  357973  168782

    placed percent
51       12.859618
52       26.553749
53       29.187101
                state    level  intake  enrollment  passed  placed  \
5  Arunachal Pradesh   DIPLOMA    9570        2985       0     300
6  Arunachal Pradesh        PG     216           0       0       0
7  Arunachal Pradesh        UG    1200           0       0       0

   placed percent
5       10.050251
6        0.000000
7        0.000000
           state    level  intake  enrollment  passed  placed  placed percent
98   West Bengal  DIPLOMA  272420      175398  113324   52809       30.108097
99   West Bengal       PG   93889       37202   24197   12655       34.016988
100  West Bengal       UG  442549      270877  238929  134961       49.823721
      state    level  intake  enrollment  passed  placed  placed percent
62  Mizoram  DIPLOMA     560         466      80      90       19.313305
63  Mizoram       PG     180         154      30       5        3.246753
64  Mizoram       UG     150         175       0       0        0.000000

In [20]:
total = 0.0
city_opacity = {}
# coordinates = {}
city_count = {}
max_opacity = -1

for index in df.index.values:
    city_count[df['state'][index]] = df['placed percent'][index] 
    total += city_count[df['state'][index]]

print (city_count)

{'Andaman and Nicobar Islands': 0.0, 'Andhra Pradesh ': 30.34377157954784, 'Arunachal Pradesh ': 0.0, 'Assam': 22.32825032495324, 'Bihar': 11.218842830646743, 'Chandigarh': 40.27644461508927, 'Chhattisgarh': 29.639446476020098, 'Dadra and Nagar Haveli': 21.875, 'Daman and Diu': 0.0, 'Delhi': 47.237188322265375, 'Goa': 44.76751100011892, 'Gujarat': 17.154377144750033, 'Haryana': 38.664763097570365, 'Himachal Pradesh': 30.186335403726712, 'Jammu and Kashmir': 26.34566649771921, 'Jharkhand': 23.40225053001613, 'Karnataka': 34.46700785088109, 'Kerala': 24.91568435920113, 'Madhya Pradesh': 29.187100969087425, 'Maharashtra': 30.734948481036938, 'Manipur': 0.0, 'Meghalaya': 32.3943661971831, 'Mizoram': 0.0, 'Nagaland': 19.767441860465116, 'Orissa': 54.982088507016456, 'Puducherry': 59.70873786407766, 'Punjab': 40.55936086517415, 'Rajasthan': 32.8860364020365, 'Sikkim': 58.392434988179666, 'Tamil Nadu': 49.448462599277605, 'Telangana': 27.110228401191662, 'Tripura': 4.084158415841585, 'Uttar Pradesh': 33.174203322352774, 'Uttarakhand': 39.60302578036304, 'West Bengal': 49.82372072933472}

In [21]:
data_text = []
data_lon = []
data_lat = []

for city in city_count:
    data_text.append(city.title() + "<br>" + text_per_place[city])
    data_lon.append(coordinates[city][1])
    data_lat.append(coordinates[city][0])

In [22]:
layout_layers = []
layout_layers.append(
        dict(
            sourcetype = 'geojson',
            source = getCityGeometry(city),
            type = 'fill',
            color = '#ef5350',
        )
    )

In [23]:
final=df[['state','placed percent']].groupby(['state']).mean()

In [24]:
final.reset_index(inplace=True)

In [25]:
final

                          state  placed percent
0   Andaman and Nicobar Islands       42.279807
1               Andhra Pradesh        19.998552
2            Arunachal Pradesh         3.350084
3                         Assam       30.050129
4                         Bihar       18.032096
5                    Chandigarh       50.571443
6                  Chhattisgarh       22.445448
7        Dadra and Nagar Haveli       33.161311
8                 Daman and Diu        7.314815
9                         Delhi       46.221437
10                          Goa       58.643040
11                      Gujarat       20.513742
12                      Haryana       33.313823
13             Himachal Pradesh       24.147595
14            Jammu and Kashmir       25.029631
15                    Jharkhand       24.127162
16                    Karnataka       26.103747
17                       Kerala       27.574356
18               Madhya Pradesh       22.866823
19                  Maharashtra       24.525106
20                      Manipur        8.333333
21                    Meghalaya       29.547959
22                      Mizoram        7.520019
23                     Nagaland       28.255814
24                       Orissa       48.133121
25                   Puducherry       50.503110
26                       Punjab       29.575840
27                    Rajasthan       28.243477
28                       Sikkim       35.995926
29                   Tamil Nadu       43.464250
30                    Telangana       24.237317
31                      Tripura        3.157363
32                Uttar Pradesh       29.058450
33                  Uttarakhand       34.354450
34                  West Bengal       37.982935

In [26]:
data = graph_objs.Data([
    graph_objs.Scattermapbox(
        lat = data_lat,
        lon = data_lon,
        mode = 'markers',
        text = data_text,
        marker = dict(
            size = final['placed percent'],
            # symbol = "cross",
            color = "#007577",
        )
    )
])

C:\ProgramData\Anaconda3\lib\site-packages\plotly\graph_objs\_deprecations.py:31: DeprecationWarning:

plotly.graph_objs.Data is deprecated.
Please replace it with a list or tuple of instances of the following types
  - plotly.graph_objs.Scatter
  - plotly.graph_objs.Bar
  - plotly.graph_objs.Area
  - plotly.graph_objs.Histogram
  - etc.

In [27]:
layout = graph_objs.Layout(
    title = "AICTE courses in different states",
    height=600,
    width=500,
    autosize=True,
    hovermode='closest',
    mapbox=dict(
        #layers = layout_layers,
        accesstoken=mapbox_access_token,
        bearing=0,
        center=dict(
            lat=20.553826,
            lon=80.878458
        ),
        zoom=3.2,
        style='streets'
    ),
    titlefont = dict(
        size = 27,
        color = "#000000"
    ),
    font = dict(
        size = 18,
        family = 'Roboto'
    )

)

In [33]:
fig = graph_objs.Figure(data=data, layout=layout)
plt=py2.plot(fig,filename = 'placed percentage map',output_type='div')