In [14]:
import pandas as pd
import numpy as np 
import plotly.offline as py
import plotly.graph_objs as go

In [15]:
df = pd.read_csv("D:\\extrapolate-master\\extrapolate-master\\hackathon\\Plots\\aicte1.csv")

In [16]:
df.head(2)

,institution_type,level,program,state,minority,women,faculties,number_of_institutes,intake,enrollment,passed,placed
0,Unaided - Private,UG,ENGINEERING AND TECHNOLOGY,Andhra Pradesh,0,1,4103.0,37,15630,5581,4737,1781
1,Unaided - Private,UG,ENGINEERING AND TECHNOLOGY,Andhra Pradesh,1,0,4476.0,12,5430,1979,827,303

In [17]:
l=df['level'].value_counts().tolist()

In [18]:
levels = ['PG','UG','DIPLOMA']

In [19]:
l

[2322, 1953, 1802]

In [20]:
df['level'].value_counts()

PG         2322
UG         1953
DIPLOMA    1802
Name: level, dtype: int64

In [23]:
trace = go.Pie(labels = levels, values = l)
data = [trace]
layout = go.Layout(title='AICTE COURSES IN INDIA')
fig = go.Figure(data = data,layout = layout)
plt = py.plot(fig,filename='AICTE_COURSES_IN_INDIA_PIE',output_type='div')