In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel("C:\\Users\\Viswes\\hackathon\\AICTE3 datasets\\AICTE train.xlsx")

In [3]:
df.head()

,YEAR,STATE,CITY,CITY ID,LEVEL,PROGRAMME,COURSE,COURSE ID,CUTOFF RANK,COLLEGE RANK,INTAKE,ENROLLED STUDENTS,PLACED STUDENTS
0,2015,Andhra Pradesh,Visakhapatnam,1,UG,Engineering and Technolgy,Computer Science and Technology,1,3490,3,120,126,84
1,2016,Andhra Pradesh,Visakhapatnam,1,UG,Engineering and Technolgy,Computer Science and Technology,1,3193,3,240,235,98
2,2017,Andhra Pradesh,Visakhapatnam,1,UG,Engineering and Technolgy,Computer Science and Technology,1,4601,3,240,244,91
3,2015,Andhra Pradesh,Visakhapatnam,1,UG,Engineering and Technolgy,Computer Science and Technology,1,6049,3,120,119,68
4,2016,Andhra Pradesh,Visakhapatnam,1,UG,Engineering and Technolgy,Computer Science and Technology,1,8172,3,180,176,76

In [4]:
df.drop(['CUTOFF RANK','CITY','CITY ID','LEVEL','PROGRAMME','COURSE','COURSE ID','STATE ','PLACED STUDENTS'],axis=1,inplace=True)

In [5]:
df.head()

   YEAR  COLLEGE RANK  INTAKE  ENROLLED STUDENTS
0  2015             3     120                126
1  2016             3     240                235
2  2017             3     240                244
3  2015             3     120                119
4  2016             3     180                176

In [6]:
X = df.iloc[:,0:3]
y = df.iloc[:,3]

In [7]:
X

    YEAR  COLLEGE RANK  INTAKE
0   2015             3     120
1   2016             3     240
2   2017             3     240
3   2015             3     120
4   2016             3     180
5   2017             3     180
6   2015             6     120
7   2016             6     120
8   2017             6     120
9   2015             5     120
10  2016             5     180
11  2017             5     180
12  2015             4     180
13  2016             4     180
14  2017             4     180

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=2)

In [9]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train,y_train)

LinearRegression()

In [10]:
y_pred =reg.predict(X_test)

In [11]:
y_test

11    130
4     176
5     179
Name: ENROLLED STUDENTS, dtype: int64

In [13]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score
print('mae=',mean_absolute_error(y_test,y_pred))
print('mse=',mean_squared_error(y_test,y_pred))
print('r2_score=',r2_score(y_test,y_pred))

mae= 14.65604644576039
mse= 221.11814431789887
r2_score= 0.5603041761243726

In [14]:
from sklearn.linear_model import LinearRegression, Ridge, RidgeCV, LassoCV, LassoLarsCV, ElasticNet, Lasso
from sklearn.preprocessing import scale, MinMaxScaler
import pickle
from sklearn.model_selection import cross_val_score
from sklearn import svm
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn import linear_model

In [15]:
#svm
svm_clf = svm.SVR()
svm_clf.fit(X_train,y_train)
ysvm_pred=svm_clf.predict(X_test)
print('mae=',mean_absolute_error(y_test,ysvm_pred))
print('mse=',mean_squared_error(y_test,ysvm_pred))
print('r2_score=',r2_score(y_test,ysvm_pred))

mae= 79.16666303984239
mse= 6770.249104675022
r2_score= -12.462713641642774

In [16]:
#random forests
rand_clf=RandomForestRegressor(n_estimators = 1000,max_features='sqrt')
rand_clf.fit(X_train,y_train)
yrand_pred=rand_clf.predict(X_test)
print('mae=',mean_absolute_error(y_test,yrand_pred))
print('mse=',mean_squared_error(y_test,yrand_pred))
print('r2_score=',r2_score(y_test,yrand_pred))

mae= 36.6456888888889
mse= 1370.9110285748156
r2_score= -1.7260714222654308

In [24]:
#lasso
lasso_clf = linear_model.Lasso(alpha=0.001, selection="random", random_state=1)
lasso_clf.fit(X_train,y_train)
ylasso_pred=lasso_clf.predict(X_test)
print('mae=',mean_absolute_error(y_test,ylasso_pred))
print('mse=',mean_squared_error(y_test,ylasso_pred))
print('r2_score=',r2_score(y_test,ylasso_pred))

mae= 14.65889073712242
mse= 221.1984084798515
r2_score= 0.5601445699693629

In [26]:
ridge_clf = Ridge(alpha=0.1)
ridge_clf.fit(X_train,y_train)
yridge_pred=ridge_clf.predict(X_test)
print('mae=',mean_absolute_error(y_test,yridge_pred))
print('mse=',mean_squared_error(y_test,yridge_pred))
print('r2_score=',r2_score(y_test,yridge_pred))

mae= 14.975059984005687
mse= 230.5570629355876
r2_score= 0.5415347842641873